<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Metroit.45" version="1.0.5" targetFramework="net45" />
  <package id="Metroit.Windows.Forms.45" version="1.0.19" targetFramework="net45" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net45" />
</packages>